/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/node_modules
/public/dist_admin
/public/template_admin
/public/dist_css
composer.lock
package-lock.json
/resources/js/vue-i18n-locales.generated.js
/false/
/resources/js/ziggy.js
/public/css/app.css
/public/js/admin.js
/public/js/app.js
/public/js/app.js.LICENSE.txt
/public/js/app_demo.js
/public/js/app_demo.js.LICENSE.txt
/public/mix-manifest.json
